<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111192289134-it0r2mc9970otgcl9lova6q0tlkkv2ve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111192289134-it0r2mc9970otgcl9lova6q0tlkkv2ve</string>
	<key>API_KEY</key>
	<string>AIzaSyC9LL9T2vRIDtKcocBGWUvRnUfn3kQMYYw</string>
	<key>GCM_SENDER_ID</key>
	<string>111192289134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>authtutorial-24cb1</string>
	<key>STORAGE_BUCKET</key>
	<string>authtutorial-24cb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111192289134:ios:26fba6acc34bffe0af9b7f</string>
</dict>
</plist>